# 4.6 Task

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Import data
df_orders_products_combined = pd.read_pickle(r"C:\Users\User\Documents\07-2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl")

In [7]:
# Check data shape
df_orders_products_combined.shape

(32434489, 11)

In [8]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [9]:
# Import data
df_prods = pd.read_csv(r"C:\Users\User\Documents\07-2022 Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv", index_col = False)

In [10]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
# merge using product_id

In [21]:
# Merge
df_orders_products_merged = df_prods.merge(df_orders_products_combined, on = 'product_id')

In [24]:
# Confirm using merge flag
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [26]:
# Create path
path = r'C:\Users\User\Documents\07-2022 Instacart Basket Analysis'

In [27]:
# Export data
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))